<%- include("../partials/header") %>

<div class="row">
    <main class="form-signin my-3">
        <form action="/fabrics/<%= fabric._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1 class="text-center h3 mb-3 fw-normal">Edit <%=fabric.name%></h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="name" value="<%= fabric.name %>" name="name"  placeholder="name">
                <label for="name">Name</label>
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="cost" name="cost" value="<%= fabric.cost%>" step="100" min="0" placeholder="cost">
                <label for="cost">Cost</label>
            </div>
            
            <div class="form-floating">
                <!-- <input type="text" class="form-control" id="description" value="<%= fabric.description %>" name="description" placeholder="description"> -->
                <textarea class="form-control" name="description" placeholde="description" id="description" cols="30" rows="5" style="height:30%"><%= fabric.description %></textarea>
                <label for="description">Description</label>
            </div>

            <div class="form-floating">
                <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">Update</button>
            </div>
        </form>
        <a href="/fabrics/<%= fabric._id%>">Go back</a>
    </main>
</div>


<%- include("../partials/footer") %>