<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-9">
      <div class="card mb-3">
        <img id="show" class="card-img-top" src="<%= fabric.image %>" alt="<%= fabric.name %>">
        <div class="card-body">
          <div class="float-end">
            #<%= fabric.cost %>/Yard
          </div>
          <h5 class="card-title text-capitalize fw-bold"><%= fabric.name %></h5>
          <p>
            <em class="text-capitalize"> Submitted by: 
                <a class="text-info" href="/users/<%= fabric.author.id %>">
                <%= fabric.author.username %>
                </a><%= moment(fabric.createdAt).fromNow() %></em>
                
          </p>
          <p class="card-text"><%= fabric.description %></p>
          <hr>
          <% if(currentUser && fabric.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-warning" href="/fabrics/<%= fabric._id %>/edit">Edit</a>
          <form action="/fabrics/<%= fabric._id %>?_method=DELETE" method="POST" class="delete-form">
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <a class="btn btn-success btn-sm" href="/fabrics/<%= fabric._id %>/comments/new">Add New Comment</a>
          </div>
          <hr>
          <div class="row">
          <% fabric.comments.forEach(function(comment){ %>
            <div class="col-md-12 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="float-start">
                    <p class="card-title fw-bold text-capitalize"><%= comment.author.username %></p>
                    <p class="card-text"><%= comment.text %></p>
                  </div>
                  <div class="float-end">
                    <p><%= moment(comment.createdAt).fromNow() %></p>
                    
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="float-end">
                      <a href="/fabrics/<%=fabric._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                      <form class="delete-form" action="/fabrics/<%=fabric._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">DELETE</button>
                      </form>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
          </div>
        </div>
      </div>
    </div>
  
</div>

<%- include("../partials/footer") %>